---
import { useStore } from "@nanostores/solid";
import PlayerBadge from "../components/PlayerBadge.astro";
import SearchBar from "../components/SearchBar.astro";
import Layout from "../layouts/Layout.astro";
import { SolidDungeons, SolidGrandMasters, SolidExoticMissions, SolidRaids } from "../components/DisplayActivities.tsx";
---

<Layout title="Guardian Rank Report">
	<script>
		import { GetInformationForMember } from "../stores/destinyPlayerData";

		window.addEventListener("DOMContentLoaded", async () => {
			const url = new URL(window.location.href);
			const params = new URLSearchParams(url.search);
			const bungieNetMembershipIdName = "id";
			const membershipTypeName = "type";
			const bungieNetMembershipId = params.get(bungieNetMembershipIdName);
			const membershipType = params.get(membershipTypeName);
			GetInformationForMember(bungieNetMembershipId!, parseInt(membershipType!));
		});
	</script>
	<main>
		<SearchBar />
		<PlayerBadge />
		<div class="content">
		<div style="color:white; font-family: 'Neue Haas Grotesk Text Pro','Helvetica', 'Arial', sans-serif; display: flex; flex-direction: column;">
			<div style="display: flex; flex-direction:column; margin: auto">
				<h1>Raids</h1>
				<SolidRaids client:load />
			</div>
			<div style="display: flex; flex-direction:column; margin: auto">
				<h1>Dungeons</h1>
				<SolidDungeons client:load />
			</div>
			<div style="display: flex; flex-direction:column; margin: auto">
				<h1>Exotic Missions</h1>
				<SolidExoticMissions client:load />
			</div>
			<div style="display: flex; flex-direction:column; margin: auto">
				<h1>GM's</h1>
				<SolidGrandMasters client:load />
			</div>
		</div></div>
	</main>
</Layout>


<style>
	main {
		margin: auto;
		width: 800px;
		max-width: 100%;
	}
	.content {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		min-width: 474px;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>