<div id="playerBadge" class="playerBadge"  data-html2canvas-ignore>
    <table>
        <!-- <tr>
          <th>Rank Assigned</th>
          <th>Condition</th>
        </tr> -->
        <tr>
          <td>Copper</td>
          <td style="text-align: center;">At least 1 raid OR 1 dungeon done</td>
        </tr>
        <tr>
          <td>Bronze</td>
          <td style="text-align: center;">At least 1 raid AND 1 dungeon done</td>
        </tr>
        <tr>
          <td>Silver</td>
          <td style="text-align: center;">More than 3 raids and 2 dungeons done</td>
        </tr>
        <tr>
          <td>Gold</td>
          <td style="text-align: center;">All raids OR all dungeons done</td>
        </tr>
        <tr>
          <td>Diamond</td>
          <td style="text-align: center;">All raids AND all dungeons done</td>
        </tr>
        <tr>
          <td>Platinum</td>
          <td style="text-align: center;">All raids OR dungeons seals acquired</td>
        </tr>
        <tr>
          <td>Adept</td>
          <td style="text-align: center;">All raids AND dungeons seals acquired</td>
        </tr>
        <tr>
          <td>Ascendant</td>
          <td style="text-align: center;">All flawless raids and dungeons done</td>
        </tr>
      </table>
      
      
</div>

<style>
	.playerBadge {
		background-repeat: no-repeat;
		width: 474px;
		margin: auto;
		font-family: "Neue Haas Grotesk Text Pro", "Helvetica", "Arial", sans-serif;
		user-select: none;
		-webkit-user-select: none;
		min-width: 0;
	}
</style>
