---
import { Icon } from "astro-icon/components";
---

<div style="display: flex; gap:5px; margin-block: auto;">
	<input id="searchInputUsername" list="players" class="inputText" placeholder="Search player" />
	<datalist id="players"> </datalist>
	<div id="playerSearchLoading" style="display: none; height: auto;width: auto;">
		<Icon name="spinner" style="height: auto;width: auto; margin:auto; color: white; opacity:50%;" is:inline />
	</div>
	<button id="searchButtonUsername" class="menuButton">Search</button>
</div>

<script src="../scripts/search.ts"></script>

<style>
	@media only screen and (max-width: 470px) {
		.inputText {
			width: 100px;
		}
	}

	.inputText {
		outline: 3px solid;
		outline-color: transparent;
		outline-offset: 4px;
		color: #d2d2d2;
		transition:
			outline-offset 0.08s cubic-bezier(0.69, 0, 0, 1) 0.125s,
			outline-color 0.125s linear 0.125s,
			color 0.125s linear;
		border: none;
		font-family: "Neue Haas Grotesk Text Pro", "Helvetica", "Arial", sans-serif;

		border-style: solid;
		outline: 3px solid;
		padding: 12px;
		padding-bottom: 11px;
		border-width: 1px;
		text-align: left;

		background-color: #00000030;
		outline-offset: 4px;
		outline-color: transparent;
		color: #d2d2d2;
		border-color: #949494;
		transition:
			outline-offset 0.08s cubic-bezier(0.69, 0, 0, 1) 0.125s,
			outline-color 0.13s cubic-bezier(0.69, 0, 0, 1) 0.125s,
			border-color 0.125s cubic-bezier(0.69, 0, 0, 1),
			color 0.125s cubic-bezier(0.69, 0, 0, 1),
			background-color 0.125s cubic-bezier(0.69, 0, 0, 1);
		border-radius: 0px;
	}

	.inputText:hover {
		outline-color: #d8d8d8;
		outline-offset: 2px;
		color: white;
		border-color: white;
		transition:
			outline-offset 0.05s cubic-bezier(0.69, 0, 0, 1) 0.05s,
			outline-color 0.15s linear 0.05s,
			color 0.05s linear 0.15s;
	}

	.menuButton {
		border-style: solid;
		outline: 3px solid;
		padding: 12px;
		padding-bottom: 11px;
		border-width: 1px;
		font-family: "Neue Haas Grotesk Text Pro", "Helvetica", "Arial", sans-serif;
		text-align: left;

		background-color: #00000030;
		outline-offset: 4px;
		outline-color: transparent;
		color: #d2d2d2;
		border-color: #949494;
		transition:
			outline-offset 0.08s cubic-bezier(0.69, 0, 0, 1) 0.125s,
			outline-color 0.13s cubic-bezier(0.69, 0, 0, 1) 0.125s,
			border-color 0.125s cubic-bezier(0.69, 0, 0, 1),
			color 0.125s cubic-bezier(0.69, 0, 0, 1),
			background-color 0.125s cubic-bezier(0.69, 0, 0, 1);
		border-radius: 0px;
	}

	.menuButton:hover {
		background-color: #00000060;
		outline-offset: 2px;
		outline-color: #d9d9d9;
		color: #f1f1f1;
		border-color: white;
		transition:
			outline-offset 0.05s cubic-bezier(0.69, 0, 0, 1) 0.05s,
			outline-color 0.15s cubic-bezier(0.69, 0, 0, 1) 0.05s,
			border-color 0.05s cubic-bezier(0.69, 0, 0, 1) 0.15s,
			color 0.05s cubic-bezier(0.69, 0, 0, 1) 0.15s,
			background-color 0.05s cubic-bezier(0.69, 0, 0, 1) s 0.15s;
	}
</style>
