---
import { Icon } from "astro-icon/components";
---

<div style="display: flex;">
	<input id="searchInputUsername" list="players" />
	<datalist id="players"> </datalist>
	<div id="playerSearchLoading" style="display: flex; height: auto;width: auto;visibility: collapse">
		<Icon name="spinner" style="height: auto;width: auto; margin:auto 5px; color: white; " is:inline />
	</div>
	<button id="searchButtontUsername">Search</button>
</div>
<script src="../scripts/search.ts"></script>