---
interface Props {
	title: string;
}

const { title } = Astro.props;
import AlertBar from "../components/AlertBar";
import SearchBar from "../components/SearchBar.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=474" />
		<script is:inline>
			function checkViewPort() {
				let viewport = document.querySelector("meta[name=viewport]");
				let newViewport = document.createElement("meta");
				newViewport.setAttribute("name", "viewport");
				if (screen.width >= 474) {
					newViewport.setAttribute("content", "width=device-width, initial-scale=1.0");
				} else {
					newViewport.setAttribute("content", "width=474");
				}
				viewport.parentNode.removeChild(viewport);
				document.head.appendChild(newViewport);
			}
			checkViewPort();
			screen.orientation.addEventListener("change", checkViewPort);
			window.addEventListener("resize", checkViewPort);
		</script>
		<meta name="description" content="Guardian Rank Report" />
		<link rel="icon" type="image/png" href=`${import.meta.env.BASE_URL}/favicon.png` />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link href="https://fonts.cdnfonts.com/css/open-sans" rel="stylesheet">
	</head>
	<body>
		<header style="display: flex; height:80px; background: #0f0606;">
			<div style="margin-block: auto; flex-direction: row;" class="header-container">
				<div style="flex-grow: 1; display: flex;">
					<a class="logo" href="https://www.blueberries.gg/">
						<img
							src="https://www.blueberries.gg/wp-content/uploads/2023/10/New-BlueberriesGG-logo-Small.png"
							alt="BlueberriesGG"
							class="logo-img"
						/>
					</a>
					<div class="navbar-link-container">
						<a class="navbar-link">Sample Link</a>							
					</div>
				</div>
				<SearchBar />
			</div>
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<AlertBar client:only="solid" />
		</footer>
	</body>
</html>

<style>
	@import url('https://fonts.cdnfonts.com/css/open-sans');
</style>


<style is:global>
	/* :root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
	} */

	main {
		/*background: #0b0b0f;
		background: radial-gradient(circle at center top, #3f3f46 0, #0b0b0f 1080px);
		background: radial-gradient(circle at center top, #737D7D40 0, #73737D00 1080px);
		*/
		background: radial-gradient(circle at center top, #737D7D40 0, #73737D00 720px);

		min-height: calc(100vh - 71px);
	}
	html {
		background: #0b0b0f;
		background: #0f0606;
	}

	body {
		margin: 0;
		background: #1a1c1d;

	}

	.header-container {
		display: flex;
		flex-direction: column;
		width: 90%;
		max-width: 1280px;
		margin: 0 auto;
	}
	@media only screen and (max-width: 474px) {
		.header-container {
			width: 9 5%;
		}
	}
	.logo {
		height: 40px;
		margin-block: auto;
	}
	.logo-img {
		display: block;
		width: auto;
		height: 100%;
	}


	.navbar-link-container {
		margin-block: auto;
		margin-left: auto;
		margin-right: 0;
		padding: 10px;
	}

	.navbar-link {
		font-size: 15px;
		line-height: 16px;
		font-weight: 600;
		color: #fff;
		font-family:
			open sans,
			Helvetica,
			Arial,
			Lucida,
			sans-serif;
		-webkit-transition: 0.5s;
		transition: 0.5s;
		cursor: pointer;

	}

	.navbar-link:hover {
		color: #7782ff;
	}
	.content {
		margin: auto;
		width: 960px;
		max-width: 100%;
		color: white;
		/* font-size: 20px; */
		padding-block: 10px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.completions-table {
		margin: auto;
		font-size: 12pt;
		border-collapse: collapse;
		position: relative;
	}
	.completions-table-empty-tr::before {
		content: "";
		position: absolute;
		width: 100% !important;
	}

	.completions-table-empty-tr-border::before {
		border-bottom: solid 1px;
	}
</style>
