---
interface Props {
	title: string;
}

const { title } = Astro.props;
import AlertBar from "../components/AlertBar";
import { GetPlayerInformation } from "../stores/destinyPlayerData";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=474" />
		<script is:inline>
			let viewport = document.querySelector("meta[name=viewport]");
			let newViewport = document.createElement("meta");
			newViewport.setAttribute("name", "viewport");
			if (screen.width >= 474) {
				newViewport.setAttribute("content", "width=device-width, initial-scale=1.0");
			} else {
				newViewport.setAttribute("content", "width=474");
			}
			viewport.parentNode.removeChild(viewport);
			document.head.appendChild(newViewport);
			
			screen.orientation.addEventListener("change", (event) => {
				let viewport = document.querySelector("meta[name=viewport]");
				let newViewport = document.createElement("meta");
				newViewport.setAttribute("name", "viewport");
				if (screen.width >= 474) {
					newViewport.setAttribute("content", "width=device-width, initial-scale=1.0");
				} else {
					newViewport.setAttribute("content", "width=474");
				}
				viewport.parentNode.removeChild(viewport);
				document.head.appendChild(newViewport);
			});
		</script>
		<meta name="description" content="Guardian Rank Report" />
		<link rel="icon" type="image/svg+xml" href=`favicon.svg` />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
	<footer>
		<AlertBar client:only="solid" />
	</footer>
</html>
<style is:global>
	/* :root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
	} */

	main {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	html {
		background: #13151a;
	}

	body {
		margin: 0;
	}
</style>
